<a href="https://colab.research.google.com/github/dacasfilipe/Python_data_science/blob/main/CDIA_Topico2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![unisenai.png]()
<h1> Pós-Graduação em Ciência de Dados e Inteligência Artificial </h1>

<h1>Unidade Curricular: Programação em Python para Ciência de Dados</h1>
<h1>Professor: Willian Daniel de Mattos, Me.</h1>

<h1><b>Tópico 2 - Estruturas de Dados </b></h1>

A compreensão das principais estruturas de dados do Python é essencial para que você possa desenvolver algoritmos computacionais para resolução de problemas envolvendo análise de dados e inteligência artificial.

Este tópico está dividido nos seguintes sub-tópicos:

2.1 Listas (*Lists*)

2.2 Tuplas (*Tuples*)

2.3 Conjuntos (*Set*)

2.4 Dicionários (*Dicts*)

2.5 *Comprehensions*

2.6 Exercícios de Fixação

#2.1 Listas

Em Python, uma lista é uma estrutura de dados que armazena vários valores e permite acessá-los por meio de índices.

Basicamente, uma lista é um conjunto de valores, também conhecidos como elementos ou itens. Esses elementos podem ser do mesmo tipo, como inteiros, ou de tipos diferentes. É também possível ter listas dentro de listas, formando uma estrutura hierárquica. O tamanho de uma lista é determinado pela quantidade de elementos que ela contém. Em outras palavras, o número de itens presentes na lista define o seu tamanho.

Existem diferente formas de se criar uma lista. A maneira mais simples é incluir os seus elementos entre colchetes `[]`.

O exemplo a seguir gera listas com diferentes tipos de dados:

In [1]:
# Exemplo 1 - Listas
lista1 = [10, 20 , 30]
print(lista1)

lista2 = ['vemelho', 'verde', 'amarelo'] # Gera uma lista com valores do tipo string
print(lista2)

lista3 = ['Vermelho', 30, 45.5] # Gera uma lista heterogênea (com valores do tipo string, int e float respectivamente)
print(lista3)

lista4 = [1,2, [30,40], 5] # Gera uma lista dentro de outra
print(lista4)

lista5 = [] # Cria lista vazia (sem nenhum elemento)
print(lista5)

[10, 20, 30]
['vemelho', 'verde', 'amarelo']
['Vermelho', 30, 45.5]
[1, 2, [30, 40], 5]
[]

Você pode também utilizar as funções `sum()` e `len()` para somar e contar os elementos de uma lista, conforme abaixo:

In [2]:
soma = sum(lista1)  # Soma os elementos da lista
contagem = len(lista1) # Conta os elementos da lista
print(soma)
print(contagem)

60
3

As funções `max()` e `min()` também podem ser utilizadas para se obter o maior e menor valor da lista:

In [3]:
maximo = max(lista1)  # Obtém maior valor dentre os elementos da lista
minimo = min(lista1) # Obtém menor valor dentre os elementos da lista
print(maximo)
print(minimo)

30
10

Utilizando o nome da variável relacionado a lista e o seu respectivo índice, é possível ler ou alterar o conteúdo de seus elementos. O exemplo abaixo obtém os primeiros 2 valores da lista 1 e altera o valor do terceiro elemento.

In [4]:
print(lista1[0]) # Perceba que o primeiro elemento começa no índice 0 (zero)
print(lista1[1]) # Imprime na tela o segundo elemento da lista (índice 1)
lista1[2] = 50 # Altera o conteúdo do terceiro elemento da lista
print(lista1) # Apresenta a lista após a alteração do terceiro elemento
print(type(lista1)) # Perceba que a variável lista1 é um objeto do tipo 'list'

10
20
[10, 20, 50]
<class 'list'>

Caso você queira adicionar algum elemento ao final da lista, você pode utilizar o método `append` (conforme abaixo):

In [5]:
lista1.append(100) # Adiciona um novo elemento na lista com o valor 100
print(lista1)

[10, 20, 50, 100]

Também é possível adicionar elementos em um posição específica da lista por meio do método `insert`. O exemplo abaixo adiciona o valor 77 na terceira posição da `lista1` (índice 2):

In [6]:
lista1.insert(2, 77)
print(lista1)

[10, 20, 77, 50, 100]

Caso você queira adicionar vários elementos a uma lista, você pode utilizar o método `extend()`:

In [7]:
lista1.extend([200,300]) # Adiciona dois novos elementos à lista
print(lista1)

[10, 20, 77, 50, 100, 200, 300]

Caso você queira remover o último elemento da lista, é possível utilizar o método `pop()`:

In [8]:
lista1.pop() # Remove último elemento da lista
print(lista1)

[10, 20, 77, 50, 100, 200]

O método `pop` também permite que você especifique o elemento da lista a ser removido:

In [9]:
lista1.pop(1) # Remove segundo elemento da lista (índice 1)
print(lista1)

[10, 77, 50, 100, 200]

Também é possível remover elementos de uma lista por meio da instrução `del`.

In [10]:
del lista1[1] #remove segundo elemento da lista (índice 1)
lista1

[10, 50, 100, 200]

Perceba que na instrução `del` acima, o segundo elemento da lista foi removido (índice 1) e os elementos foram reorganizados de maneira que a lista agora possui 4 elementos (com índices entre 0 e 3).

Vamos agora fazer um cópia da `lista1` para o outra lista chamada `copiaLista1`:

In [11]:
copiaLista1 = lista1
print(copiaLista1)

[10, 50, 100, 200]

Contudo, perceba o que acontece se alterarmos o valor de um elemento da variável `copiaLista1`:

In [12]:
copiaLista1[0] = 99
print(copiaLista1)
print(lista1)

[99, 50, 100, 200]
[99, 50, 100, 200]

Quando modificamos o valor do primeiro elemento da lista `copiaLista1` em Python, percebemos que o primeiro elemento da variável `lista1` também é alterado. Isso acontece porque as listas em Python são objetos e, ao atribuirmos um objeto a outro, estamos apenas copiando a mesma referência para a região de memória da lista, não os dados em si. Isso significa que ambas as variáveis apontam para o mesmo local de memória, então qualquer alteração reflete em ambas as variáveis.

Portanto, para criar um cópia dos dados da `lista1` em um novo objeto do tipo lista, é necessário utilizar a sintaxe abaixo:

In [13]:
listaValores = [10, 20 , 30, 40, 50, 60, 70, 80]
copiaListaValores = listaValores[:] # Realiza um cópia dos elementos da listaValores em uma nova Lista
copiaListaValores[0] = 99  # Altera o valor do primeiro elemento da lista
print(copiaListaValores) # Exibe lista com o primeiro valor alterado
print(listaValores) # Exibe a lista original (que a cópia foi realizada). Perceba que o valor original foi mantido.

[99, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]

Também é possível realizar o fatiamento da lista quando deseja-se obter apenas uma parte dos elementos.

O exemplo a seguir mostra diferentes formas de se realizar o fatiamento da lista `listaValores`:

In [14]:
listaParte1  = listaValores[0:2] # Primeiros 3 elementos:  [10,20,30]
listaParte2 = listaValores[2:] # Do terceiro ao último elemento: [30, 40, 50, 60, 70, 80]
listaParte3 = listaValores[3:6] # Do quarto ao quinto elemento: [40, 50, 60]
listaParte4 = listaValores[-3:] # Últimos 3 elementos: [60, 70, 80]
listaParte5 = listaValores[-1] # Último elemento da lista: 80
print(listaParte1)
print(listaParte2)
print(listaParte3)
print(listaParte4)
print(listaParte5)

[10, 20]
[30, 40, 50, 60, 70, 80]
[40, 50, 60]
[60, 70, 80]
80

Caso você queira concatenar listas, você pode realizar a operação de concatenação conforme exemplo abaxio:

In [15]:
listaSequencia1 = [100,200,300] # Gera uma primeira lista com três elementos
listaSequencia2 = [400,500,600]
listaCompleta = listaSequencia1 + listaSequencia2 #concatena as dudas listas gerando uma nova lista
listaCompleta = listaCompleta + [700,800,900]
print(listaCompleta)

[100, 200, 300, 400, 500, 600, 700, 800, 900]

O Python permite também utilizar o operador `in` para verificar se algum item está incluido na lista:

In [16]:
print(500 in listaCompleta) # O valor 500 está incluido na lista pois foi retornado o valor True
print(1500 in listaCompleta) # O valor 1500 não está incluido na lista pois foi retornado o valor False

True
False

Também é possível criar uma nova lista a partir de uma versão ordenada de uma lista original. Veja o exemplo abaixo:

In [17]:
listaNumerica = [7,4,9,1,8,6,5,3,2,1,1]
listaNumerica.sort()
print(listaNumerica)

[1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Caso você queira obter a quantidade de ocorrências do valor 1 (um) em uma lista, você pode utilizar o método abaixo:

In [18]:
contagem = listaNumerica.count(1) # Retorna a quantidade de ocorrências do valor 1 (um) e armazena na variável contagem
print(contagem)

3

Em alguns casos também é possível limpar uma lista, isto é, remover todos os seus elementos. Para isso é possível utilizar a função `clear` (conforme exemplo abaixo):

In [19]:
listaNumerica.clear() # Limpa todos os elementos da lista
print(listaNumerica) # Exibe lista vazia

[]

Também é possível desfazer uma lista, isto é, armazenar cada elemento da lista em uma variável específica. Veja o exemplo abaixo:

In [20]:
x, y, z = [10, 20, 30] #armazena os valores dos elementos da lista em variáveis
print(x, y, z)

10 20 30

A listas também são muito úteis quando utilizadas em conjunto com estruturas de repetição `while`e `for`. O exemplo abaixo preenche uma lista com 5 notas depois percorre a lista para calcular a média utilizando a estrutura de repetição `while`:

In [21]:
notas = [7.5, 8.6, 9.7, 5.5, 10] #Preenche a lista com 5 notas (entre 0 e 10)
qtdNotas = len(notas) #Obtém a quantidade de notas com utilizando a função len
i = 0 #Cria variável de controle do laço while
soma = 0 #Cria e inicializa a variável soma com 0

while i < qtdNotas:
  soma += notas[i] #soma notas
  i +=1 #incrementa a variável i

media = soma / qtdNotas
print(f"Média da turma:{media:2.2f}")

Média da turma:8.26

O exemplo a seguir realiza o mesmo cálculo. Contudo, o exemplo abaixo utiliza  a estrutura de repetição `for`:

In [22]:
notas = [7.5, 8.6, 9.7, 5.5, 10] #Preenche a lista com 5 notas (entre 0 e 10)
qtdNotas = len(notas) #Obtém a quantidade de notas com utilizando a função len
soma = 0 #Cria e inicializa a variável soma com 0

for i in notas: # Para cada elemento da lista notas
  soma += i # Armazena soma na variável soma

media = soma / qtdNotas
print(f"Média da turma:{media:2.2f}")

Média da turma:8.26

Também é possível gerar listas automaticamente quando utilizadas as funções `range` e `list`. A função `range()`gera uma lista de elementos, mas um a cada chamada da função. Portanto, é necessário converter estes valores para uma lista por meio da função `list()`. Veja o exemplo abaixo:

In [23]:
listaNum = list(range(1,31)) # Gera uma lista com valores entre 1 e 30
                             # Perceba que o primeiro argumento da função range é o valor inicial (1)
                             # e o segundo argumento é o valor final (mas não incluido).
print(listaNum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

# 2.2 Tuplas

Tuplas são semelhantes a listas, mas com a diferença fundamental de serem imutáveis. Elas são úteis quando você precisa garantir que os valores não sejam modificados durante o processamento de informações provenientes de outros sistemas ou arquivos.

O processo de criação de uma tupla é muito similar a uma lista. Contudo, na criação da tupla você utiliza o parênteses `()` ou simplesmente insere a sequência de valores (sem os parênteses).

Veja o exemplo abaixo:

In [ ]:
tupla1 = (1,2,3,4,5) # Cria tupla por meio da inserção dos parênteses como demilitadores
tupla2 = 6,7,8,9,10 # Cria uma tupla sem o uso dos parênteses

# Exibe listagem de valores das tuplas bem como os tipos de dados
print(tupla1)
print(tupla2)
print(type(tupla1))
print(type(tupla2))

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)
<class 'tuple'>
<class 'tuple'>

Para criar uma tupla com um único elemento, você precisa incluir a vírgula final:

In [ ]:
tupla = (1,)
type(tupla)

tuple

Uma forma de criar uma tupla vazia é apenas definindo a tupla sem qualquer elemento dentro dos parênteses:

In [ ]:
tupla = ()
print(type(tupla))

<class 'tuple'>

Veja agora que ocorre um erro de execução caso você queira alterar qualquer um dos valores da tupla:

In [ ]:
tupla1[0] = 99 # Tenta alterar primeiro elemento da tupla

TypeError: ignored

Além disso, as tuplas podem ser utilizadas de maneira eficaz para retornar múltilplos valores a partir de funções.

A função retorna a raiz quadrada e cúbica do valor repassado como argumento:

In [ ]:
def retornaRaizes(valor): # Define uma função chamada retornaRaize com o parametro valor
  return (valor**(1/2)), (valor**(1/3)) # Retorna a raiz quadrada e cúbica do valor em uma tupla

raizes = retornaRaizes(27) # Chama a função retornaRaizes repassando o valor 27 como argumento e armazenando o resultado na variável raizes
raizQuadrada, raizCubica  = retornaRaizes(27) # Armazena os valores das tuplas em variáveis específicas
print(raizes) # Mostra a tupla que foi retornada pela função retornaRaizes
print(raizQuadrada) # Mostra apenas valor da Raiz Quadrada
print(raizCubica) # Mostra apenas o valor da Raiz Cúbica

As tuplas suportam a maioria das operações para visualização dos valores já vistas em operações com Listas. Veja exemplo abaixo de operações de fatiamente e indexação:

In [ ]:
tupla3 = 'a', 'b', 'c', 'd' # Cria tupla de valores string
print(tupla3[0]) # Exibe primeiro elemento da tupla
print(tupla3[:3]) # Exibe primeiros 3 elementos da tupla (0 a 2)
tupla4 = tupla3 * 2 # Duplica elementos da tupla3 e armazena na tupla4
print(tupla4)

a
('a', 'b', 'c')
('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

Operações de sumarização e contagem também são aceitas. Veja o exemplo abaixo:

In [ ]:
tupla5 = (60, 50, 40, 30, 20, 10) # Armazena valores em uma tupla
print(len(tupla5)) # Exibe tamanho da tupla (quantidade de elementos)
print(max(tupla5)) # Exibe maior valor dentre os valores dos elementos da tupla
print(min(tupla5)) # Exibe menor valor dentre os valores dos elementos da tupla
print(sum(tupla5)) # Exibe soma dos valores dos elementos da tupla
print(sorted(tupla5))  #Apresenta os elementos da tupla ordenados (sem alterar a tupla original)

6
60
10
210
[10, 20, 30, 40, 50, 60]

Contudo, após a criação da tupla, não são aceitas operações que tentem alterar a sua estrutura, tais como: adicionar, remover, alterar ou ordernar seus elementos. Caso seja necessário realizar operações nos valores de uma tupla, os mesmo deverão ser armazenados em uma nova tupla. Veja exemplo abaixo:

In [ ]:
tupla6 = (1,2,3,4,5) # Cria uma tupla com 5 elementos
tupla7 = (6,7,8,9,10) # Cria uma tupla com 5 elementos
tupla8 = tupla1 + tupla2 # Concatena valores das tuplas em uma nova tupla
print(tupla8)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Caso a tupla contenha uma lista em algum de seus elementos, será possível alterar apenas os elementos da lista. Veja exemplo abaixo:

In [ ]:
tupla9 = (1,2,3,[4.1,4.2,4.3],5) # Cria uma tupla com uma lista em seu quarto elemento (índice 3)
print(tupla9) # Mostra tupla
tupla9[3].append(4.4) # Adiciona o valor 4.4 na lista pertencente a tupla9
print(tupla9) # Mostra tupla com lista alterada

(1, 2, 3, [4.1, 4.2, 4.3], 5)
(1, 2, 3, [4.1, 4.2, 4.3, 4.4], 5)

Operações de desempacotamento também podem ser realizadas por meio de tuplas, veja o exemplo abaixo:

In [ ]:
tupla10 = ('a', 'b', 'c') # Cria tupla de caracteres
x, y, z = tupla10 # Armazena valores em variáveis específicas
print(x)
print(y)
print(z)

a
b
c

O exemplo abaixo armazena o último valor da tupla em b e os restantes em a (por meio da operação `*a`):

In [ ]:
*a, b = (10,20,30,40,50)
print(a) # Exibe listagem
print(b) # Exibe valor da variável b
print(type(a)) # Veja que o objeto 'a' agora é uma lista
print(type(b)) # Veja que b é uma variável numérica do tipo int

[10, 20, 30, 40]
50
<class 'list'>
<class 'int'>

Também é possível gerar tuplas com valores heterogêneos. Veja o exemplo abaixo:

In [ ]:
tupla = ('vermelho', 30, 45.5)
print(tupla)

('vermelho', 30, 45.5)

# 2.3 Conjuntos

Os conjuntos (`set`) são estruturas de dados que não são utilizadas com muita frequência, mas que podem ser úteis em alguns casos específicos. Os conjuntos também são semelhantes a listas. Contudo, um conjunto é uma coleção de elementos distintos (ou exclusivos).

Outra característica importante dos conjuntos é que os seus elementos não são ordenados, isto é, a ordem em que os elementos são exibidos pode variar.

Veja o exemplo abaixo:

In [ ]:
conjunto = set() # Cria um conjunto por meio da instrução set
conjunto.add(10) # Adiciona o valor 10 ao conjunto
conjunto.add(20) # Adiciona o valor 20 ao conjunto
conjunto.add(20) # Adiciona o valor 20 ao conjunto
print(len(conjunto)) # Conta quantidade de elementos. Perceba que ele só possui 2 elementos.
print(conjunto)
print(type(conjunto))

2
{10, 20}
<class 'set'>

In [ ]:
conjunto[0] = 99 #Veja também que não é possível alterar o conteúdo de um elemento do conjunto

TypeError: ignored

Os conjuntos também podem ser criados por meio de uma lista de valores delimitados por chaves `{}`.  Veja o exemplo abaixo:

In [ ]:
conjunto_vogais = { 'a', 'b', 'c', 'd', 'e', 'a'} # Cria conjunto de vogais
print(conjunto_vogais) # Exibe conjunto
print(type(conjunto_vogais)) # Exibe o tipo de objeto relativo a variável conjunto_vogais

{'d', 'a', 'c', 'b', 'e'}
<class 'set'>

As instruções abaixo irão verificar (por meio da função `in`) se os valores 10 e 30 fazem parte do conjunto definido anteriormente:

In [ ]:
print(10 in conjunto) # 10 pertence ao conjunto
print(30 in conjunto) # 30 não pertence ao conjunto

True
False

A grande vantagem se utilizar um **conjunto** é que a operação `in` é executada muito mais rapidamente (e comparação as listas). Portanto, é uma boa prática primeiro converter uma lista para um conjunto antes de localizar um determinado valor.

Veja o exemplo abaixo:

In [ ]:
lista1 = ['maria', 'pedro', 'josé', 'lucas'] # Cria lista de nomes
lista2 = ['pedro', 'carolina', 'maria', 'matheus'] # Cria lista de nomes
conjunto = set(lista1 + lista2) # Concatena listas e converte para um conjunto
print(sorted(conjunto)) # Apresenta conjunto ordenado
print('maria' in conjunto) # Verifica se 'maria' faz parte do conjunto

['carolina', 'josé', 'lucas', 'maria', 'matheus', 'pedro']
True

# 2.4 Dicionários

Um **dicionário** é uma estrutura de dados mais geral do que uma lista.

Enquanto uma **lista** utiliza apenas índices inteiros para acessar elementos, um dicionário permite o uso de índices de qualquer tipo.

Podemos pensar em um dicionário como um mapeamento entre chaves e valores. Cada chave corresponde a um valor específico. Essa relação é chamada de par chave-valor ou item.

Por exemplo, podemos criar um dicionário que mapeia palavras do inglês para o português, onde tanto as chaves quanto os valores são strings.


A função dict cria um novo dicionário vazio. O exemplo a seguir cria de formas diferentes dois dicionários vazios:

In [ ]:
dicionario1 = {} # Cria dicionário vazio
dicionario2 = dict() # Cria dicionário vazio
print(dicionario1)  # Exibe dicionário vazio
print(dicionario2) # Exibe dicionário vazio
print(type(dicionario1)) # Mostra tipo do objeto
print(type(dicionario2)) # Mostra tipo do objeto

{}
{}
<class 'dict'>
<class 'dict'>

O próximo exemplo cria um estrutura de um `dicionário` em que as chaves serão os nomes dos alunos e os valores serão as idades:

In [ ]:
alunos = {"Ana": 22, "Manoel": 19, "Carol": 20} #Cria dicionário com chave-valor para as idades dos alunos
print(alunos) # Exibe dicionário
print(type(alunos)) # Exibe tipo de objeto

{'Ana': 22, 'Manoel': 19, 'Carol': 20}
<class 'dict'>

Para acessar o conteúdo de um elemento do dicionário, é necessário indicar qual é a chave. Veja o exemplo abaixo:

In [ ]:
print(alunos["Ana"]) # Exibe idade da Ana
print(alunos["Manoel"]) # Exibe idade do Manoel
print(alunos["Carol"]) # Exibe idade da Carol

22
19
20

Caso o valor da chave não pertença ao dicionário, você receberá uma mensagem de erro (conforme abaixo):

In [ ]:
alunos["ana"] #Perceba que a chave é case sensitive, isto é, as letras minúsculas e maiúsculas são diferenciadas no Python.

KeyError: ignored

Uma das formas de se verificar a existência de uma `chave` em um dicionário é por meio da instrução `in`. Veja o exemplo abaixo:

In [ ]:
verifica_item1 = 'ana' in alunos # Verifica se a chave 'ana' existe no dicionário alunos
verifica_item2 = 'Ana' in alunos # Verifica se a chave 'Ana' existe no dicionário alunos
print(verifica_item1) # Exibe valor da variável
print(verifica_item2) # Exibe valor da variável

False
True

Outra forma de buscar valores de um dicionário é utilizando o método `get`.  Perceba no exemplo abaixo que o método `get`já realiza automaticamente o tratamento de erro e retorna o valor definido no segundo argumento (0 no exemplo) caso o valor da chave não seja encontrado:

In [ ]:
idade_ana = alunos.get("Ana",0) # Busca o valor relativo a chave 'Ana'. Caso a chave não exista, retorna o valor 0
idade_carol = alunos.get("Carol",0) # Busca o valor relativo a chave 'Carol'. Caso a chave não exista, retorna o valor 0
idade_pedro = alunos.get("Pedro",0) # Perceba que neste caso o método get retornará 0, pois a chave "Pedro" não será encontrada
print("Idade Ana:", idade_ana)
print("Idade Carol:", idade_carol)
print("Idade Pedro:", idade_pedro)

Idade Ana: 22
Idade Carol: 20
Idade Pedro: 0

Um valor de um `elemento` do dicionário também pode ser facilmente alterado por meio da indicação da sua respectiva `chave`. Veja o exemplo abaixo:

In [ ]:
alunos["Carol"] = 29 # Perceba que a idade da Carol será alterada de 20 para 29
print(alunos)

{'Ana': 22, 'Manoel': 19, 'Carol': 29}

Para remover itens de um dicionário, você pode utilizar o método `pop`. Veja o exemplo abaixo que remove o item com a chave 'Carol':

In [ ]:
alunos.pop("Carol") # Remove elemento que possua a chave 'Carol'
print(alunos) # Exibe dicionário novamente

{'Ana': 22, 'Manoel': 19}

Também é possível excluir um item de um dicionário por meio da instrução `del`. Veja o exemplo abaixo:

In [ ]:
del alunos['Ana'] # Remove item com a chave 'Ana'
print(alunos) # Exibe dicionário novamente

{'Manoel': 19}

Caso você queira adicionar nos pares `chave-valor` no dicionário, é possível incluir itens indicando o valor de uma nova chave no dicionário. O exemplo abaixo adiciona mais dois alunos no dicionário alunos:

In [ ]:
alunos['Manoela'] = 24 # Como a chave 'Manoela' não existe no dicionário, esta instrução irá criar um novo elemento
alunos['Leonardo'] = 30 # Como a chave 'Leonardo' não existe no dicionário, esta instrução irá criar um novo elemento
print(alunos) # Exibe novamente o dicionário

{'Manoel': 19, 'Manoela': 24, 'Leonardo': 30}

Além disso, para se obter a listagem de todas as chaves de um dicionário, você pode utilizar a função `keys()`. Veja o exemplo abaixo:

In [ ]:
nomes_alunos = alunos.keys() # Exibe as chaves do dicionário nomes_alunos
print(nomes_alunos) # exibe valores das chaves

dict_keys(['Manoel', 'Manoela', 'Leonardo'])

Também é possível obter a lista de todos os valores por meio do método `values`. Veja o exemplo abaixo:

In [ ]:
idades_alunos = alunos.values() # Exibe as chaves do dicionário nomes_alunos
print(idades_alunos) # exibe os valores

dict_values([19, 24, 30])

Perceba também que as variáveis `nomes_alunos` e `idades_alunos` são objetos do tipo `dict_keys` e `dict_values`, respectivamente.

Contudo, estes objetos podem ser convertidos para estruturas de listas:

In [ ]:
lista_nomes = list(nomes_alunos) # Converte o objeto dict_keys para uma lista
lista_idades = list(idades_alunos) # Converte o objeto dict_values para uma lista
print(lista_nomes) # Exibe lista de nomes
print(lista_idades) # Exibe lista de idades
print(type(lista_nomes)) # Exibe tipo de objeto (veja que agora é do tipo 'list')
print(type(lista_idades)) # Exibe tipo de objeto (veja que agora é do tipo 'list')

['Manoel', 'Manoela', 'Leonardo']
[19, 24, 30]
<class 'list'>
<class 'list'>

Por meio do método `items` também é possível obter uma lista de tuplas chave-valor. Veja o exemplo abaixo:

In [ ]:
items_tuplas = alunos.items() #Exibe os itens do dicionário
print(items_tuplas) # Mostra chaves e valores do dicionário
print(type(items_tuplas)) # Veja que o objeto é do tipo 'dict_items'
items_tuplas2 = tuple(items_tuplas) # Converte objeto dict_items para tuplas

print(items_tuplas2) # Mostra chaves e valores do dicionário
print(type(items_tuplas2)) # Veja que agora o objeto é do tipo 'tuple'

dict_items([('Manoel', 19), ('Manoela', 24), ('Leonardo', 30)])
<class 'dict_items'>
(('Manoel', 19), ('Manoela', 24), ('Leonardo', 30))
<class 'tuple'>

Além de strings, dicionário aceitam outros tipos de dados como chave (como inteiros). Veja o exemplo abaixo:

In [ ]:
alunos = {1: 'Ana', 2: 'Pedro', 3: 'Rafael'} #Neste caso chave poderia ser um código único para cada aluno
print(alunos)
print(alunos[3])

{1: 'Ana', 2: 'Pedro', 3: 'Rafael'}
Rafael

# 2.5 *Comprehensions*

As comprehensions em Python geram novas sequências a partir de sequências existentes.

Elas são utilizadas para **listas**, **dicionários**, **conjuntos**.

O exemplo abaixo mostra o uso de *comprehensions* (ou compreensões) para gerar diferentes listas:

In [ ]:
numeros_pares = [x for x in range (10) if x % 2 == 0] # Gera uma sequência de números pares
print(numeros_pares)

[0, 2, 4, 6, 8]

In [ ]:
quadrado = [x**2 for x in range(20)] #Gera sequência de números ao quadrado
print(quadrado)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [ ]:
raiz = [x**(1/2) for x in quadrado]  # Extra raiz quadrada da sequência de números anterior
print(raiz)

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0]

No caso de conjuntos, as comprehensions podem ser utilizadas para geração de valores únicos. Veja o exemplo abaixo:

In [ ]:
import random
numeros_aleatorios = [random.randint(1,6) for _ in range(10)] #Gera 10 números inteiros aleatórios entre 1 e 5 utilizando List comprehensions
print(numeros_aleatorios)
print(type(numeros_aleatorios))

numeros_aleatorios_unicos =  {random.randint(1,6) for x in range(10)} #Gera números inteiros aleatórios entre 1 e 5 utilizando List comprehensions
print(numeros_aleatorios_unicos)                                      #Perceba que o set comprehensions foi utilizado alterando-se os colchetes para chaves nos delimitadores
print(type(numeros_aleatorios_unicos))

[3, 3, 4, 6, 6, 5, 4, 5, 2, 1]
<class 'list'>
{1, 2, 3, 5, 6}
<class 'set'>

É possível também gerar uma listagem por meio da utilização dos Dictionary Comprehensions (Compreensões de Dicionário). Veja o exemplo abaixo que conta a quantidade de caracteres de cada palavra e armazena em um dicionário por meio da utilização do *Dictionary Comprehensions*:

In [ ]:
palavras = ['Vermelho', 'Verde', 'Amarelo'] #Lista de Palavras
tamanho_palavras = {palavra: len(palavra) for palavra in palavras}
print(tamanho_palavras)

{'Vermelho': 8, 'Verde': 5, 'Amarelo': 7}

# 2.6 Exercícios de Fixação

<h1> Exercício 1 </h1>

Utilizando listas (para armazenar e posteriormente ler os dados), elaborar um algoritmo para obter do usuário um conjunto de 10 números e posteriormente informar:



*   Quantos números são iguais a 10.
*   Quantos números são maiores do que a média.
*   Quantos números são iguais a média.

In [ ]:
# ********** Escreva seu código aqui **********

<h1> Exercício 2 </h1>

Por meio da utilização de dicionários crie um algoritmo que obtenha do usuário temperatura média de cada mês do ano, em centigrados.

Para isto armazene essas temperaturas utilizando chaves relativas a cada um dos meses do ano.

Além disso, mostre na tela as temperaturas de todos os meses, a maior e a menor temperatura do ano e em que mês aconteceram.

In [ ]:
# ********** Escreva seu código aqui **********

<h1> Exercício 3 </h1>

Crie a lógica de uma aplicação que contenha uma listagem de cinco questões de múltipla escolha relacionadas a ciência de dados. Cada questão contém três opções de resposta. Crie também uma listagem paralela que contenha a resposta correta para cada questão - A, B ou C. Apresente cada questão e verifique se o usuário entrou somente A, B, ou C como resposta - caso contrário, continue solicitando ao usuário até que uma resposta válida seja inserida. Se o usuário responder a uma questão corretamente, apresente "Correto!", caso contrário, apresente "A resposta correta é:" e a letra da resposta correta. Depois que o usuário responder todas as questões, apresente o número de respostas corretas e incorretas. Fique a vontada para utilizar a estrutura de dados que for mais adequada para a resolução do problema.

In [ ]:
# ********** Escreva seu código aqui **********

<h1> Exercício 4 </h1>

Crie a lógica para um jogo de dados. A aplicação "lança" aleatoriamente cinco dados para o computador e cinco dados para o jogador. Conforme cada "lançamento" aleatório é feito, armazene-o em uma estrutura de dados. A aplicação apresenta todos os valores, de 1 a 6, para cada dado. Decida o vencedor com base na seguinte hierarquia de valores de dados. Qualquer combinação mais alta ganha de uma mais baixa - Por exemplo, qualquer quina ganha de uma quadra.

Seguem as combinações por ordem de prioridade:


*   Uma quina.
*   Uma quadra.
*   Uma trinca.
*   Um par.

Para esse jogo, os valores numéricos dos dados não contam.  Por exemplo, se ambos os jogadores tiraram três de um tipo, é um empate, independente de quais forem os valores dos dados. Além disso, o jogo não reconhece um *full house* (uma trinca e um par).

O exemplo abaixo mostra um dos possível resultados da execução do programa:



```
Jogada do Computador: 5 2 6 4 2
Sua Jogada: 1 1 1 2 3
O computador tem um par.
Você tem uma trinca.
Você Ganhou!!
```

In [ ]:
# ********** Escreva seu código aqui **********

<h1> Exercício 5 </h1>

Utilizando comprehensions crie uma função que gere a tabuada para um número informado como argumento.

In [ ]:
# ********** Escreva seu código aqui **********