<a href="https://colab.research.google.com/github/dacasfilipe/Python_data_science/blob/main/Estudo_do_Livro_Projeto_de_Ci%C3%AAncia_de_Dados_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estudo do Livro Projetos de Cência de Dados com Python

Capítulo 1: Exploração e limpeza de dados

Obejtivos de aprendizado:

*   Executar operações básicas em Python
*   Descrever o contexto empresarial dos dados do estudo de caso e sua adequação à tarefa
*   Executar operações de limpeza de dados
*   Examinar sínteses estatísticas e visualiozar os dados do estudo de caso
*   Implementar a codificação one-hot(one-hot encoding) em variáveis categóricas

Resumo: este capítulo é uma introdução as operações básicas em Python e aprenderei como executar operações relacionadas a dados e fazendo a verificação e limpeza dos dados e a verificação de sínteses estatísticas.

# A indexação e o operador slice

lista: uma coleção ordenada mutável que pode conter qualquer tipo de dado, inclusive numéricos e strings.

a palavra **mutável** significa apenas que os elementos da lista podem ser alterados após serem atribuídos.

Para criar os elementos da lista inteiros e consecutivos usa-se a função **range()**

**range()** cria um iterador que converte em uma lista usando a função **list()**

In [8]:
#criação de indexação de lista
example_list = list(range(1,6))
example_list
example_list[0]
example_list[-1]
example_list[-2]
example_list[:3]
example_list[0] = 'a string'
example_list

['a string', 2, 3, 4, 5]

In [2]:
#uso do for
i=1
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10